:root {
    --light: #E7E5DF;
    --medium: #b3afa9;
    --dark: #1d272d;
    --yellow: #edb314;
    --green: #2BBBAD;
    --red: #D26754;
    --border-radius: 10px;

}

/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.75rem;
    line-height: 1.5;
    background-image: url("../images/road.jpg");
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    backdrop-filter: brightness(50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.625rem;
    font-weight: 700;
    line-height: 1.1;
}

h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.5rem;
}

h4 {
    font-size: 3rem;
}

h5 {
    font-size: 2.5rem;
}

h6 {
    font-size: 2rem;
}

input {
    color-scheme: dark;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
    cursor: pointer;
}

.button {
    width: 200px;
    font-weight: bold;
    color: var(--light);
    background-color: transparent;
    border: 1px solid var(--light);
    border-radius: var(--border-radius);
    margin: 1rem;
    padding: 0.5rem 1rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease 0s;
}

.button:hover:not([disabled]) {
    transform: translateY(-7px);
    border: 1px solid var(--light);
}

.button:focus {
    background-color: transparent;
}

.button:disabled {
    opacity: 0.5;
}

/* INDEX PAGE */
.index-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    transition: all 0.5s ease-in-out;
}

.index-header h5 {
    color: var(--yellow);
}

.index-header h1 {
    color: var(--light);
}

.index-main {
    text-align: center;
    margin: 1rem;
    transition: all 0.5s linear;
}

.app-description {
    font-size: 1.5rem;
    color: var(--light);
}

#start-btn {
    width: 200px;
    height: 50px;
    color: var(--light);
    background-color: transparent;
    font-weight: bolder;
    border: 1px solid var(--light);
    border-radius: var(--border-radius);
    margin: 2rem;
    padding: 0.5rem 1rem;
    transition: all 0.5s;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.8);
}

#start-btn:after {
    content: '>>';
    position: absolute;
    opacity: 0;
    top: 14px;
    right: -20px;
    transition: 0.5s;
}

#start-btn:hover {
    color: var(--light);
    background-color: var(--green);
    border: 1px solid var(--light);
    cursor: pointer;
    padding-right: 24px;
    padding-left: 8px;
}

#start-btn:hover:after {
    opacity: 1;
    right: 10px;
}

/* DASHBOARD PAGE */
header {
    width: 100%;
    min-height: 15%;
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    height: fit-content;
    color: var(--light);
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: all 0.5s linear;
}

.form-container,
.result-container {
    width: 90%;
    background: rgba(29, 39, 45, 0.7);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    margin: 1.5rem;
    padding: 1.5rem;
}

form {
    width: 100%;
    height: min-content;
}

form p {
    font-size: 2rem;
    margin: 1rem;
}

.btn-container {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

#add-stop-btn:hover {
    color: var(--dark);
    background-color: var(--yellow);
}

#reset-btn:hover {
    color: var(--dark);
    background-color: var(--red);
}

#save-btn:hover {
    color: var(--dark);
    background-color: var(--green);
}

.result-container h5 {
    text-align: center;
}

.result-row {
    margin: 2rem;
}

.result-row p {
    color: var(--yellow);
}

#result-list li {
    list-style: circle;
    margin-left: 2rem;
    font-size: 1.3rem;
}

#clear-btn:hover:not([disabled]) {
    color: var(--dark);
    background-color: var(--red);
}

hr {
    width: 90%;
    margin: 2rem;
}

.email-form {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email-form label {
    width: 100%;
}

#email-btn {
    align-self: center;
}

#email-btn:hover:not([disabled]) {
    color: var(--dark);
    background-color: var(--green);
}

footer {
    color: var(--light);
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 2rem;
}

/* For screens larger than 768px*/
@media screen and (min-width: 768px) {

    .form-container,
    .result-container {
        flex: 0 0 50%;
        max-width: 45%;
    }
}